* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  background-color: #1e555c;
  height: 100vh;
  font-size: 44px;
  color: #ccc;
}

.wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.wrapper h2 {
margin: 0;
}

.break-session-length {
  display: flex;
  width: 700px;
  justify-content: space-between;
}

@media(max-width:700px) {
  .break-session-length {
    flex-direction: column;
    gap: 1rem;
  }
}

button {
border: none;
padding: 8px;
font-size: 28px;
border-radius: 4px;
}

div > button {
  color: white;
  background-color: #1e555c;
  border: 1px solid white;
  cursor: pointer;
}

div > button:hover {
  opacity: 0.5;
}

.second-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

div button:nth-child(2) {
color: white;
background-color: #1e555c;
}

strong {
margin: 0 8px;
}

.timer {
border: 2px solid #ccc;
border-radius: 10px;
text-align: center;
margin: 20px 0;
padding-top: 10px;
}

.timer-wrapper > button {
margin-left: 10px
}

h3 {
  font-weight: 400;
}